@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
    background: url(http://pictures.4ever.eu/data/download/art/music/crowd,-concert,-black-and-white-photo-218480.jpg) no-repeat;
    background-size: cover;
    font-family: 'Rock Salt', cursive;
}

h1 {
    margin: 5rem auto 8rem auto;
    font-size: 7rem;
    text-shadow: 7px 3px 4px #efce0d;
    color: #77218d;
}

button {
    height: 5rem;
    width: 5rem;
}

.btn:hover {
    background: #77218d;
    border-color: #efce0d;
    opacity: 0.7;
    transition: 0.4s;
}

.btn:focus{
    box-shadow: none;
}

.container {
    text-align: center;
}

.keys{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.6rem;
    font-size: 2rem;
    color: #efce0d;
    background-color: #77218d;
    border-color: #efce0d;
}

.big { 
    transform: scale(1.2);
    transition: all .14s ease;
    border: yellow 5px solid;
}
